@import 'tailwindcss';

@theme {
    --color-white: #fff;
    --color-yellow-light: #ffdc86;
    --color-yellow: #f4c550;
    --color-gray-light: #f8f8f8;
    --color-green: #38cd3e;
    --color-dark: #121417;
    --color-cream:#fbe9ba;
    --color-dark-70: rgba(18, 20, 23, 0.7);
    --color-gray-muted:#8a8a89;


    --breakpoint-sm: 320px;
    --breakpoint-md: 768px;
    --breakpoint-xl: 1024px;

    --font-sans: Roboto, Helvetica, Arial, sans-serif;

}


@layer base {
    body {
        @apply bg-white text-base tracking-normal text-dark font-normal leading-normal;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        @apply cursor-pointer;
    }

}

@layer utilities {
    @keyframes float-scale {
        0%, 100% {
            transform: translateY(-0.5%) scale(1);
        }
        50% {
            transform: translateY(1%) scale(1.03);
        }
        0%, 100% {
            transform: translateX(-0.2%) scale(1);
        }
        50% {
            transform: translateX(1%) scale(1.03);
        }
    }

    .animate-float-scale {
        animation: float-scale 6s ease-in-out infinite;
    }
}
